* {
  padding: 0;
  margin: 0;
  --bg: rgb(168, 168, 214);
  --tab-bar: #4f58cf;
  --window-bg: #bebebe;
  --text-black: #252525;
  --text-white: #f1f1f1;
}

body {
  font-family: arial;
  letter-spacing: -1px;
  width: 90%;
  margin: 0 auto;
  background: var(--bg);
  color: var(--text-black);
}

#title {
  font-size: 52px;
  text-align: center;
  padding: 20px 0px;
  letter-spacing: -2px;
}

.window {
  border: 2px solid var(--tab-bar);
  -webkit-box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px -6px rgba(0,0,0,0.75);
  background: var(--text-white);
  width: 50%;
  margin: 50px auto;
}

#editor {
  min-width: 500px;
  padding: 10px;
  min-height: 250px;
  background: var(--text-white);
  border: 1px solid black;
}

#preview {
  padding: 50px;
  min-height: 250px;
  color: var(--text-black);
  line-height: 2;
}

.tab-bar {
  background: var(--tab-bar);
  color: white;
  padding: 10px;
  font-family: monospace;
  font-size: 20px;
  font-weight: bold;
}

